<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <li class="nav-item active">
    <%= link_to class: "nav-link" do %>
      <i class="fa fa-fw fa-tachometer-alt"></i>
      <label><%= t ".dashboard" %></label></a>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to admin_users_path, class: "nav-link collapsed" do %>
      <i class="fa fa-fw fa-user"></i>
      <label><%= t ".user" %></label>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to admin_tours_path, class: "nav-link collapsed" do %>
      <i class="fa fa-fw fa-cog"></i>
      <label><%= t ".tour" %></label>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to "#", class: "nav-link" do %>
      <i class="fa fa-fw fa-file-word-o"></i>
      <label><%= t ".booking_request" %></label>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to "admin_questions_path", class: "nav-link" do %>
      <i class="fa fa-fw fa-question-circle"></i>
      <label><%= t ".user_review" %></label>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to "admin_questions_path", class: "nav-link" do %>
      <i class="fa fa-fw fa-question-circle"></i>
      <label><%= t ".category" %></label>
    <% end %>
  </li>
</ul>
