<button type="button" class="btn-lg home_search_button"
  data-toggle="modal" data-target="#booking">
  <%= t ".booking" %>
</button>
<div class="modal fade" id="booking" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= @tour.name %></h4>
      </div>
      <div class="modal-body">
        <%= form_for :booking,  url: tour_bookings_path(@tour),
          remote: true, method: :post do |f| %>
          <div class="rate_error"></div>
          <div class="star_content">
            <div class="form-group booking-picture">
              <%= image_tag tour_picture(@tour) %>
            </div>
            <div class="form-group">
              <%= f.label :start_time %>
              <input id="datetimepicker" type="text" class="form-control" >
            </div>
            <div class="form-group">
              <%= f.label :people_number, t(".people_number") %>
              <%= f.number_field :people_number, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :phone_number, t(".phone_number") %>
              <%= f.text_field :people_number, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_field :address, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.button t(".submit"), type: :submit, class: "btn btn-info" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t ".close" %></button>
      </div>
    </div>
  </div>
</div>
 