<div class="super_container">
	
	<!-- Header -->


	
	<!-- Home -->


	<!-- Intro -->

	
	<%= render "intro" %>
	<% if params[:search].present? %>
	<div class="destinations" id="destinations">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_subtitle">simply amazing places</div>
						<div class="section_title"><h2>Result search</h2></div>
					</div>
				</div>
				<div class="row destinations_row">
					<div class="col">
						<div class="destinations_container item_grid">

							<!-- Destination -->
							<%= render partial: "tour", collection: @tours, as: :tour %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
		<div class="destinations" id="destinations">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_subtitle">simply amazing places</div>
						<div class="section_title"><h2>Popular Destinations</h2></div>
					</div>
				</div>
				<div class="row destinations_row">
					<div class="col">
						<div class="destinations_container item_grid">

							<!-- Destination -->
							<%= render partial: "tour", collection: tour_with_review_likes, as: :tour %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- popular -->
		
		<!-- rating -->

		<div class="destinations" id="testimonials">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_subtitle">simply amazing places</div>
						<div class="section_title"><h2>Rating</h2></div>
					</div>
				</div>
				<div class="row destinations_row">
					<div class="col">
						<div class="destinations_container item_grid">

							<!-- Destination -->
							<%= render partial: "tour", collection: @tour_with_ratings, as: :tour %>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- Last -->
		<div class="destinations" id="news">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_subtitle">simply amazing places</div>
						<div class="section_title"><h2>New</h2></div>
					</div>
				</div>
				<div class="row destinations_row">
					<div class="col">
						<div class="destinations_container item_grid">

							<!-- Destination -->
							<%= render partial: "tour", collection:@tour_lastest, as: :tour %>
						</div>
					</div>
				</div>
			</div>
		</div>

</div>

	