<div class="super_container">
  <!-- Header -->
  <!-- Home -->
  <div class="home">
    <!-- Home Slider -->
    <div class="home_slider_container">
      <div class="owl-carousel owl-theme home_slider">
        <!-- Slide -->
        <div class="owl-item">
          <div class="background_image"></div>
          <div class="home_slider_content_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_slider_content">
                    <div class="home_title">
                      <h2><%= t ".let_us" %></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide -->
      </div>
      <div class="home_page_nav">
        <ul class="d-flex flex-column align-items-end justify-content-end">
          <li>
            <%= link_to "#", {'data-scroll-to': '#destinations'} do %>
            <%= t ".popular" %><span><%= t ".number_01" %></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#", {'data-scroll-to': '#testimonials'} do %>
            <%= t ".new" %><span><%= t ".number_02" %></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#", {'data-scroll-to': '#testimonials'} do %>
            <%= t ".rating" %><span><%= t ".number_03" %></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Search -->
  <div class="home_search">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_search_container">
            <div class="home_search_title"><%= t ".search_trip" %></div>
            <div class="home_search_content">
              <form action="#" class="home_search_form" id="home_search_form">
                <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                  <input type="text" class="search_input search_input_1" placeholder="City" required="required">
                  <input type="text" class="search_input search_input_2" placeholder="Departure" required="required">
                  <input type="text" class="search_input search_input_3" placeholder="Arrival" required="required">
                  <input type="text" class="search_input search_input_4" placeholder="Budget" required="required">
                  <button class="home_search_button"><%= t ".search" %></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Destinations -->
  <div class="destinations" id="destinations">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_subtitle"><%= t ".simply" %></div>
          <div class="section_title">
            <h2><%= t ".popular" %></h2>
          </div>
        </div>
      </div>
      <div class="row destinations_row">
        <div class="col">
          <div class="destinations_container item_grid">
            <!-- Destination -->
            <div class="destination item">
              <div class="destination_image">
                <%= image_tag 'destination_1.jpg' %>
                <div class="spec_offer text-center">
                  <%= link_to t(".special"), "#" %>
                </div>
              </div>
              <div class="destination_content">
                <div class="destination_title">
                  <%= link_to t(".bali"), "#" %>
                </div>
                <div class="destination_subtitle">
                  <p><%= t ".description" %></p>
                </div>
                <div class="destination_price"><%= t ".price" %></div>
              </div>
            </div>
            <!-- Destination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
