<h2>Search Results for: <i><%= params[:term] %></i></h2>
 
<% if @tours %>
  <% @tours.with_highlights.each do |tour, highlights| %>
  <div class="search_results">
    <div class="destination item">
      <div class="destination_image">
        <%= image_tag tour_picture(tour) %>
        <div class="spec_offer text-center"><%= link_to tour.category_name, "#" %></div>
      </div>
      <div class="average-review-rating" data-score=<%= review_average(tour) %>>
      </div>
      <div class="destination_content">
        <div class="destination_title"><%= highlights[:name].present? ? highlights[:name].html_safe : tour.name %></div>
        <div class="destination_subtitle">
          <p><%= highlights[:description].html_safe %></p>
        </div>
        <div class="destination_price"><%= "From $" %><%= tour.price %></div>
      </div>
    </div>
  </div>
  <% end %>
  
<% else %>
  <p>Your search did not match any documents.</p>
<% end %>