<footer class="footer">
  <div class="parallax_background parallax-window" data-parallax="scroll" data-speed="0.8"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="newsletter">
          <div class="newsletter_title_container text-center">
            <div class="newsletter_title"><%= t ".subscribe_tour" %></div>
            <div class="newsletter_subtitle"><%= t ".join_team" %></div>
          </div>
          <div class="newsletter_form_container">
            <form action="#" class="newsletter_form d-flex flex-md-row flex-column align-items-start justify-content-between" id="newsletter_form">
              <div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
                <div>
                  <input type="text" class="newsletter_input newsletter_input_name" id="newsletter_input_name" placeholder="Name" required="required">
                  <div class="input_border"></div>
                </div>
                <div>
                  <input type="email" class="newsletter_input newsletter_input_email" id="newsletter_input_email" placeholder="Your e-mail" required="required">
                  <div class="input_border"></div>
                </div>
              </div>
              <div><button class="newsletter_button"><%= t ".subscribe" %></button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer_contact_row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <!-- Footer Contact Item -->
          <div class="col-xl-4 footer_contact_col">
            <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
              <div class="footer_contact_icon"><%= image_tag "sign.svg" %></div>
              <div class="footer_contact_title"><%= t ".give_call" %></div>
              <div class="footer_contact_list">
                <ul>
                  <li><%= t ".office_landline" %></li>
                  <li><%= t ".mobile" %></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Footer Contact Item -->
          <div class="col-xl-4 footer_contact_col">
            <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
              <div class="footer_contact_icon"><%= image_tag "trekking.svg" %></div>
              <div class="footer_contact_title">come & drop by</div>
              <div class="footer_contact_list">
                <ul>
                  <li><%= t ".address" %></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Footer Contact Item -->
          <div class="col-xl-4 footer_contact_col">
            <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
              <div class="footer_contact_icon"><%= image_tag "around.svg" %></div>
              <div class="footer_contact_title"><%= t ".send_message" %></div>
              <div class="footer_contact_list">
                <ul>
                  <li><%= t ".email_travello" %></li>
                  <li><%= t ".offices" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
