	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
							<div class="logo">
								<%= link_to "Travello VietNam", root_path, "data-turbolinks": false %>
							</div>
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li class="active"><%= link_to "My account", bank_accounts_path, "data-turbolinks": false %></li>
								</ul>
							</nav>

							<!-- Hamburger -->

							<div class="hamburger ml-auto">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_social d-flex flex-row align-items-center justify-content-start">
		<div class="main_nav">
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<% if user_signed_in? %>
					<li class="dropdown">
						<%= link_to "#", data: { toggle: "dropdown" }, class: "dropdown-toggle" do %>
							<%= current_user.name %><b class="caret"></b>
						<% end %>
						<%= image_tag get_avatar(current_user), class: "img-profile rounded-circle w-10" %>
						<ul class="dropdown-menu">
								<li class="dropdown-item profile">
									<%= link_to t(".profile"), edit_user_registration_path(current_user) %>
								</li>
								<li class="dropdown-item profile">
									<%= link_to t(".sign_out"), destroy_user_session_path, method: :delete %>
								</li>
						</ul>
					</li>
				<% else %>
					<li>
						<%= link_to user_facebook_omniauth_authorize_path do %>
						<span><i class="fa fa-facebook-square"></i></span>
						<% end %>
					</li>
					<li>
						<%= link_to new_user_session_path do %>
							<i class="fa fa-sign-in">Sign in</i>
						<% end %>
					</li>
				<% end %>
        
        <div class="menu_phone ml-auto">Call us: 00-56 445 678 33</div>
			</ul>
		</div>
		</div>
	</header>

	<!-- Menu -->
	